
Debug/bitmap.obj
Debug/color.obj
Debug/geom.obj
Debug/GfxCore.Build.CppClean.log
Debug/GfxCore.idb
Debug/GfxCore.lib
Debug/GfxCore.log
Debug/GfxCore.obj
Debug/GfxCore.pdb
Debug/GfxCore.tlog/CL.command.1.tlog
Debug/GfxCore.tlog/CL.read.1.tlog
Debug/GfxCore.tlog/CL.write.1.tlog
Debug/GfxCore.tlog/GfxCore.lastbuildstate
Debug/GfxCore.tlog/Lib-link.read.1.tlog
Debug/GfxCore.tlog/Lib-link.write.1.tlog
Debug/GfxCore.tlog/Lib.command.1.tlog
Debug/GfxCore.vcxproj.FileListAbsolute.txt
Debug/matrix.obj
Debug/meshIO.obj
geom.cpp
geom.h
Release/geom.obj
Release/GfxCore.lib
Release/GfxCore.log
Release/GfxCore.pdb
Release/GfxCore.tlog/CL.command.1.tlog
Release/GfxCore.tlog/CL.read.1.tlog
Release/GfxCore.tlog/CL.write.1.tlog
Release/GfxCore.tlog/Lib-link.read.1.tlog
Release/GfxCore.tlog/Lib-link.write.1.tlog
Release/GfxCore.tlog/Lib.command.1.tlog
Release/meshIO.obj
